//
//  Main.xcconfig
//  RetroGo
//
//  Created by haharsw on 2026/2/10.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Open source contributors: Please copy this file as Main.xcconfig and fill in your own information.

PRODUCT_BUNDLE_IDENTIFIER = com.example.retrogo
DEVELOPMENT_TEAM = YOUR_TEAM_ID
