<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIDesignRequiresCompatibility</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sony - PlayStation (PCSX ReARMed)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.pcsx_rearmed</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bin</string>
					<string>cue</string>
					<string>img</string>
					<string>mdf</string>
					<string>pbp</string>
					<string>toc</string>
					<string>cbn</string>
					<string>m3u</string>
					<string>ccd</string>
					<string>chd</string>
					<string>iso</string>
					<string>exe</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-pcsx_rearmed-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sony - PlayStation (Beetle PSX)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.mednafen_psx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cue</string>
					<string>toc</string>
					<string>m3u</string>
					<string>ccd</string>
					<string>exe</string>
					<string>pbp</string>
					<string>chd</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-mednafen_psx-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sega - Saturn (Yabause)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.yabause</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bin</string>
					<string>ccd</string>
					<string>chd</string>
					<string>cue</string>
					<string>iso</string>
					<string>mdf</string>
					<string>mds</string>
					<string>zip</string>
					<string>m3u</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-yabause-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo - SNES / SFC / Game Boy / Color (Mesen-S)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.mesen-s</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sfc</string>
					<string>smc</string>
					<string>fig</string>
					<string>swc</string>
					<string>bs</string>
					<string>gb</string>
					<string>gbc</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-mesen-s-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo - Nintendo 64 (Mupen64Plus-Next)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.mupen64plus_next</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>n64</string>
					<string>v64</string>
					<string>z64</string>
					<string>ndd</string>
					<string>bin</string>
					<string>u1</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-mupen64plus_next-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo - NES / Famicom (Nestopia)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.nestopia</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fds</string>
					<string>nes</string>
					<string>unif</string>
					<string>unf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-nestopia-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo - NES / Famicom (Mesen)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.mesen</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fds</string>
					<string>nes</string>
					<string>unif</string>
					<string>unf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-mesen-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo - NES / Famicom (FCEUmm)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.fceumm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fds</string>
					<string>nes</string>
					<string>unif</string>
					<string>unf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-fceumm-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo - Game Boy Advance (VBA-M)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.vbam</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dmg</string>
					<string>gb</string>
					<string>gbc</string>
					<string>cgb</string>
					<string>sgb</string>
					<string>gba</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-vbam-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo - Game Boy / Color (Gearboy)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.gearboy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gb</string>
					<string>dmg</string>
					<string>gbc</string>
					<string>cgb</string>
					<string>sgb</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-gearboy-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo - Game Boy / Color (Gambatte)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.gambatte</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gb</string>
					<string>gbc</string>
					<string>dmg</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-gambatte-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo - DS (melonDS DS)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.melondsds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nds</string>
					<string>ids</string>
					<string>dsi</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-melondsds-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DOS (DOSBox-Pure)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.dosbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zip</string>
					<string>dosz</string>
					<string>exe</string>
					<string>com</string>
					<string>bat</string>
					<string>iso</string>
					<string>chd</string>
					<string>cue</string>
					<string>ins</string>
					<string>img</string>
					<string>ima</string>
					<string>vhd</string>
					<string>jrc</string>
					<string>tc</string>
					<string>m3u</string>
					<string>m3u8</string>
					<string>conf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-dosbox-rom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sony - PlayStation Portable (PPSSPP)</string>
			<key>UTTypeIdentifier</key>
			<string>com.haharsw.pudge.ppsspp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>elf</string>
					<string>iso</string>
					<string>cso</string>
					<string>prx</string>
					<string>pbp</string>
					<string>chd</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-ppsspp-rom</string>
			</dict>
		</dict>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Camera Usage</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location Usage</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo Library Usage</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Local Network Usage</string>
</dict>
</plist>
